<% provide(:title, "Home") %>
<h1>MyMoney</h1>
<h2>Your One Stop Shop For All Your Personal Finances.</h2>

<% if !user_signed_in? %>
  <p class="center"><%= link_to "Sign In", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %><br> 
  to get started.</p>
<% end %>
