<% provide(:title, "Payment Methods") %>
<p id="notice"><%= notice %></p>

<h1><%= plural(PaymentMethod) %></h1>

<%= link_to genderize(PaymentMethod,"m"), new_payment_method_path %>

<br>

<%= table_for @payment_methods, :sortable => true do |table| %>
  <% table.column :name %>
  <% table.column :method_type %>
  <% table.column :description %>
  <% table.column :account %>
  <% table.column :data => t('edit'), :link_action => :edit %>
  <% table.column :data => t('destroy'), link_method: :delete, link_confirm: "Are you sure?" %>
<% end %>
