<% provide(:title, "Accounts") %>
<p id="notice"><%= notice %></p>

<h1><%= plural(Account) %></h1>

<%= table_for @accounts, :tbody_html => { :id => "accounts" }, :sortable => true do |table| %>
  <% table.column :name %>
  <% table.column :account_type %>
  <% table.column :payment_method %>
  <% table.column :data => t('edit'), :link_action => :edit, link_html: {remote: true} %>
  <% table.column :data => t('destroy'), link_method: :delete, link_confirm: "Are you sure?" %>
<% end %>

<%= link_to genderize(Account,"m"), new_account_path, remote: true %>
<div id="account-modal" class="modal fade"></div>
